# Folders
auto-save-alist
dict
el-get
elpa
tmp
transient
url/
.cache
.dap-breakpoints
.extension
.python-environments

# Elisp
*.elc
*.eld

# Packaging
.cask

# Cache/backup files
*~
*.last
*\#*
*.data

# Project files
ede-projects.el

# Logs
*.logs

# Undo-tree save-files
*.~undo-tree