# Folders
auto-save-alist
dict
el-get
elpa
eshell
tmp
transient
url/
.cache
.dap-breakpoints
.extension
.python-environments

# Elisp
*.elc
*.eld

# Packaging
.cask

# Cache/backup files
*~
*.last
*\#*
*.data
.emacs-places
projectile.cache

# Project files
ede-projects.el

# Logs
*.logs

# Undo-tree save-files
*.~undo-tree

# Lsp session files
.lsp-session*

# Remove recent buffer files
recentf
